@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

body {
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

h1, h2, h3 {
  font-weight: 600;
}
